@import "variables";
//@import 'fonts/roboto/roboto.css';
//@import 'fonts/raleway/raleway.css';

.div1, .div2, .div3 {
  display: none;
  width: 100%;
}

.div1 {
  background: yellow;
}

.div2 {
  background: darkcyan;
}

.div3 {
  background: crimson;
}

.outline-crimson{
  outline: $outline-crimson !important;
}

.outline-lightblue{
  outline: $outline-lightblue !important;
}

.outline-green{
  outline: $outline-green !important;
}

.outline-blue{
  outline: $outline-blue;
}
