@import "variables";
//@import 'fonts/roboto/roboto.css';
//@import 'fonts/raleway/raleway.css';

.div1, .div2, .div3 {
  display: none;
  width: 100%;
}

.div1 {
  background: yellow;
}

.div2 {
  background: darkcyan;
}

.div3 {
  background: crimson;
}

.outline-crimson{
  outline: $outline-crimson !important;
}

.outline-lightblue{
  outline: $outline-lightblue !important;
}

.outline-green{
  outline: $outline-green !important;
}

.outline-blue{
  outline: $outline-blue;
}


.ui.checkbox {
  &:hover, &:active {
    outline: dotted 1px whitesmoke;
    cursor: pointer;
  }

  &.read-only {
    outline: none;

    &:before, &:after {
      &:hover {
        cursor: auto;
      }
    }

    input.hidden + label {
      cursor: auto;
    }

  }

  &.disabled {
    cursor: auto;

    label {
      color: $color-label !important;
    }
  }

  input {

    ~ label {
      color: $color-label;

      &:hover {
        color: $color-hover;
      }

    }

    &:disabled {
      ~ label {
        color: $color-label;
      }
    }

    //.ui.disabled.checkbox label


    &:active, &:focus {
      ~ label {
        color: $color-hover;
      }
    }

    &:checked {
      ~ label {
        color: red !important;
      }
    }

  }

}

.react-datepicker-popper {
  z-index: 100 !important;
}

.popup { // in analyte control
  .ui.toggle.checkbox{
      label {
        color: white;
        margin: 0;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
      }
      input:checked, input:checked:focus {
        ~ label {
          color: crimson !important;
        }
      }
  }
}

//.popup .ui.toggle.checkbox label

//.ui.toggle.checkbox label
//.ui.toggle.checkbox input:checked ~ .box, .ui.toggle.checkbox input:checked ~ label