@import "./variables";


html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

section {
  flex-basis: auto;
}

.sb-content {
  flex-basis: 85vh
}

footer {
  flex-basis: 15vh;
}


i.cart.icon {
  margin-top: -8px;
}

.logo {
  flex-basis: 100%;
}

table.ui.basic {
  td {
    border: none;
  }
}

div.left.my, div.right.my {
  flex-basis: 50%;
}

div.carousel.my {
  flex-basis: 50%;
}

i.icon.my {
  flex-basis: 50px;
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.30);
  cursor: pointer;
}

.ui.top.attached.label:first-child + :not(.attached) {
  margin-top: 0 !important;
}

.segment.my.ui {
  box-shadow: 7px 7px 5px -3px rgba(0, 0, 0, 0.64);

  &.mw-100 {
    transition: max-width .125s ease-out;
  }

  &.mw-80 {
    transition: max-width .125s ease-out .125s;
  }

  font-size: 1.0em;
}

.my.label {
  background: rgba(0, 0, 0, 0.27);
}
