@import "./variables";


html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

section{
   flex-basis: auto;
}

.sb-content{
  flex-basis: 85vh
}

footer{
  flex-basis: 15vh;
}


i.cart.icon{
  margin-top: -8px;
}

.logo{
  flex-basis: 100%;
}
